.DS_Store
node_modules/
dist/
dist.zip
.turbo/
.cache/
*.log
*.local
__pycache__/
.pnpm-store/
.yarn/
dist-ssr/
dev-dist/
dist.tar
dist.war
*-dist.zip
.vite/
.nitro/
.output/
coverage/
.eslintcache
.stylelintcache
